.gallery{
    margin: 40px 5.3%;
    &__title{
        margin-bottom:60px;
        h3{
            color:#ccc;
            font-size: 32px;
            font-weight: 800;
        }
    }
    &__container{
        max-width:1440px;
        margin: 0 auto;
    }
    &__card{
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        width: 100%;
        &-wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &-container{
            padding:10px;
        }
    }

    ::ng-deep .mat-card{
        box-shadow: none!important;
    }
}

@media all and (min-width: 600px) and (max-width: 767px){
    .gallery_card{
        width:calc(( 100%)/2)
    }
}

@media all and (min-width: 768px) and (min-width: 1023px) {
    .gallery__card{
        width:calc(( 100%)/3 - 32px)
    }
}