<div class="gallery">
  <div class="gallery__container">
    <div class="gallery__title">
      <h3>Gallery</h3>   
    </div>
    <div class="gallery__card-wrapper">
      <ng-container *ngFor="let item of galleryItems,let i=index;">
        <mat-card class="gallery__card" (click)="openGalleryFullViewDialog(i,item)">
          <div class="gallery__card-container">
            <img mat-card-image src="{{item.imageUrl}}" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>{{item.description}}</p>
              </mat-card-content>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>