@import "../../../scss/_mixins";

html,body {
  font-size: calc(1em + 1vw);
  @include fluid-type(font-size, 320px, 1440px, 16px, 20px);
}
.fill-remaining-space{
    flex: 1 1 auto;
}
.sidenav {
    width: 250px;
}
.open {
    display: block;
}
.toggle-menuicon{
    margin-top: -5px;
}
.navbar{
   &__brand-name {
        font-weight: 900;
        text-transform: uppercase;
        a{
            text-decoration: none;
            color:#fff;
            font-size: 20px;

        }
   }
   &__item{
        text-transform: capitalize;
        padding-right:12px;
        font-weight: 300;
    } 
       
   & ul {
        display: flex;
        margin:0;
        padding:0;
        li{
            list-style-type: none;
            text-transform: capitalize;
            font-weight: 300;
            margin-right:15px;

            // &:not(:first-of-type){
            //     //   margin-left:15px
               
            // }
            a{
                text-decoration: none;
                color:#fff;
            }
        }
       
    }
  
   &__sigin-btn{
        color:white;
        border-color:white;
        width: 105px;
        margin-left: 20px;
   }
  
}

.header{
    &__toolbar__wrapper{
        background: #3f51b5;
        padding:0 5.3%;
    }

    &__toolbar__container{
        margin:0 auto;
        max-width: 1440px;
    }

    &__mb-primary-nav button{
        width:100%;
    }


    

    &__desk-myprofile{
        position: relative;
          
        min-width: max-content;
        z-index: 1021;
       
        &__myaccount{
          // margin:0 20px 0 40px;
          font-size:16px;
          cursor: pointer;
        }
        &__container{
          position:absolute;
          //width: 150px;
          top: 48px;
          left: -70px;
          text-align: left;
          cursor: pointer;
        }
        &__wrapper{
          background: white;
          color: black;
          //box-shadow: 1px 3px 8px 0 rgba(0,0,0,.2);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          // padding: 10px 20px;
        }
        &__item{
          padding: 12px 15px;
          // &:nth-last-of-type(4){
          //   border-bottom: 1px solid #ccc;
          // }
          &:nth-last-of-type(1){
            border-top: 1px solid #ccc;
    
          }
        }
        &__itemlink{
          display: flex;
          color:#000!important;
          align-items: center;
          padding: 12px 15px;
        }
      
      }
}