<mat-sidenav-container class="sidenav-container tvg"
    [hasBackdrop]="true"
    >
    <mat-sidenav #sidenav class="sidenav" 
        [fixedInViewport]="true"
        [fixedTopGap]="0"
        [position]="'start'" 
        [attr.role]="!isHandset ? 'dialog' : 'navigation'"
        [mode]="'side'"
        [opened]="false"
        [position]="'start'"
    >
      <mat-toolbar class="header__mb-sidenav-toolbar">Menu</mat-toolbar>
      <mat-nav-list class="header__mb-primary-nav">
        <button mat-button routerLink="/about-us">About Us</button>
        <button *ngIf="isLogged" mat-button routerLink="/gallery">Gallery</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="header__toolbar__wrapper">
        <div class="header__toolbar__container">
          <mat-toolbar color="primary" class="navbar">
            <button 
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="sidenav.open()"
            *ngIf="isHandset">
            <mat-icon aria-label="Side nav toggle icon" class="toggle-menuicon">menu</mat-icon>
          </button>
              <span  class="navbar__brand-name">
                  <a routerLink="/">clamper</a>
              </span>
              <span class="fill-remaining-space"></span>
              <ul class="navigation" *ngIf="!isHandset">
                  <li class="navigation__item" ><a routerLink="/about-us">about us</a></li>
                  <li *ngIf="isLogged" class="navigation__item"><a routerLink="/gallery">gallery</a></li>
              </ul>
              
              <button *ngIf="!isLogged"
                class="navbar__item navbar__sigin-btn" 
                mat-stroked-button color="primary" (click)="userSignIn()"
              >signin</button>
              <div *ngIf="isLogged" class="header__desk-myprofile"  
              (mouseenter)="isOpen = true" 
              >
                  <span class="header__desk-myprofile__myaccount">Hi, {{currentUser.username}}</span>
                  <div *ngIf="isOpen" class="header__desk-myprofile__container">
                    <ul class="header__desk-myprofile__wrapper">
                       <li class="header__desk-myprofile__item"><a class="header__desk-myprofile__itemlink"(click)="logout()"><mat-icon class="custom-icon">settings_power</mat-icon>Logout</a></li>
                    </ul>
                  </div>
              </div>
              
          </mat-toolbar>
        </div>
      </div>
     
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>