<div style="position:relative">
  <button mat-icon-button class="title-close-button">
      <mat-icon (click)="closeTheDialog()" aria-label="close-icon">clear</mat-icon>
  </button>
  <div class="sigin-conainer">
    <div class="sigin-main mat-elevation-z12">
      <div class="register-header">
        Signin 
      </div>
      <div class="login-card">
        <p *ngIf="error" class="error-msg">*{{ error }}</p>

        <div>
          <form [formGroup]="userSigninForm" (ngSubmit)="submitSignInForm()">
            <mat-form-field class="display-block">
              <input matInput type="email" placeholder="Userid" formControlName="userid" required matInput>
            </mat-form-field>
            <mat-form-field class="display-block">
              <input matInput type="password" placeholder="Password" formControlName="password" required matInput>
            </mat-form-field>
            <button class="login-btn" style="width:100%" mat-raised-button color="primary" type="submit" [disabled]="userSigninForm.invalid">Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>