::ng-deep {
  &.mat-dialog-container{
    padding: 0;
  }
  &.signin-dialog-backdrop{
    background: #000;
    opacity: .6!important;
  }
}

::ng-deep .signin-dialog{
  .mat-dialog-container{
    padding: 0 !important;
  }
}

::ng-deep .mat-dialog-container{
  padding: 0!important;
}

mat-form-field .mat-form-field {
  &-underline {
    position: static;
  }
  &-subscript-wrapper {
    position: static;
  }
}
a{
  text-decoration: none;
}

.login-btn{
  margin-top: 10px;
}
.login-card{
  padding: 30px;
}
.register-header {
  background: #3f51b5;
  padding: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 18px;
}

.registered-text{
  font-size: 12px;text-align: center;
}
.title-close-button{
  position: absolute;top: 5px;
  right: 0px;
  z-index: 99;
  color: white;
}
.sigin {
 
  &-main {
    position: relative;
    margin: 0 auto;
  }
}

.redirect {
  font-size: 14px;
  margin-left: 4px;
  color: #3f51b5;
}

.display-block {
  display: block;
}
.enquiry-form {
   max-width: 600px;
  .full-width {
    width: 100%;
  }
}
.error-msg {
  color: #f44336;
  text-align:center;
}
@media all and (min-width: 1023px){
  .sigin-main{
    min-width: 360px;
  }
  .login-card{
    padding: 30px 40px 40px;
  }

}
