.footer{
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 40px;
    background: #ccc;
    padding: 10px;box-sizing: border-box;
    &__content p{
        margin:0!important
    }
}