<div class="hompage">
<div id="home">
    <div id ="banner-overlay"></div>
    <div id ="banner-img"></div>
    <div id="banner-text"><h3>Welcome to clamper News Media.</h3></div>
    <div id="scroll-to-about-section">
      <a href="#about">
        <div class="bounce"><mat-icon>keyboard_arrow_down</mat-icon></div>
      </a>
    </div>
</div>
<div class="main about-section" id="about">
  <div class="conatiner">
   <h2 class="about-desc">
         Clamper is an innovation foundry that utilizes the concept of pods to rapidly incubate and test ideas. Our focus is we look to develop ideas that are not only disruptive, but ideas that uniqely fill a gap in an ecosystem. Behind the idea we look for a proven team that has an energy for the challenges ahead.        </h2>
   <h2 class="about-desc about-sub-desc">
         Our team has a collective experience in taking ideas from inception to fund raise and acquisition.
   </h2>
 </div>
</div>
</div>