@import "../../../scss/_mixins";
html,body {
  font-size: calc(1em + 1vw);
  @include fluid-type(font-size, 320px, 1440px, 16px, 20px);
}

.hompage{
  text-align: center;
}
#home{
    position: relative;
    min-height: calc(100vh - 64px);
  
    #banner-overlay{
      position: absolute;
      width: 100%;
      height:100%;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      opacity: .8;
      background-image: linear-gradient(34deg,#0f141e,#1f2839);
    }
    #banner-img{
      background: gray url("https://via.placeholder.com/150") no-repeat center top;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      width: 100%;
      height: 100%;
      width: 100%;
      background-size: cover;
      box-sizing:border-box;
    }
    #banner-text{
      z-index: 11;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      text-align: center;
      h3{
        color: #fff;
        word-wrap: normal;
        text-align: center;
        font-weight: 700;
        font-style: normal;
        @include fluid-type(font-size, 20em, 48em, 1em, 3em);
  
      }
    }
    #scroll-to-about-section{
      z-index: 11;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-90%);
      width: 100%;
      text-align: center;
    
      .bounce {
        position: absolute;
        left: 50% ;
        width: 60px;
        height: 60px ;
        margin-left:-30px;
        border-radius:50%;
        animation: bounce 2s infinite;

        mat-icon{
          color:white;
          font-size: 30px;
        }
  
      }
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY(-30px);}
        60% {transform: translateY(-15px);}
      }
    }
}
.about-section{
     padding: 0 40px;
     max-width:1440px;
     margin:0 auto;
    .about-desc{
      padding-top: 150px;
      font-weight: 400;
      line-height: 1.2em;
      font-weight: 400;
      font-style: normal;
      line-height: 1.5em;
      letter-spacing: 0px;
      text-transform: none;
    }
    .about-sub-desc{
      padding-bottom: 90px;
      padding-top: 40px;
    }
}

