::ng-deep {
    &.gallery-fullview{
      .mat-dialog-container{
            padding:0;
        }
    }
    &.gallery-fullview-backdrop{
        opacity: 0.6 !important;
        background: black !important;
    }
}

.fullview{
    &____container{
        
    }
   
    &__close-dialog{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 10px 0;
        box-sizing: border-box;
        cursor: pointer;
    }
    &__content{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    

        img{
            width:100%;
            height:auto;
        }
    }

    .nav-carousel{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        min-width: 100%;
        .carousel-btn{
            cursor: pointer;
            color:white;
            font-size:32px;
        }
       
    }
}