<div class="fullview" *ngIf="isDomLoaded">
    <div class="fullview__container">
        <div class="fullview__close-dialog">
            <mat-icon (click)="closeTheGalleryDialog()">close</mat-icon>
        </div>
        <div class="fullview__content">
            <img src="{{item?.imageUrl}}">
        </div>
        <div class="nav-carousel">
            <mat-icon class=" nav-carousel__prev-btn carousel-btn" (click)="prevItem()">arrow_back_ios</mat-icon>
            <mat-icon class="nav-carousel__next-btn carousel-btn" (click)="nextItem()">arrow_forward_ios</mat-icon>
        </div>
    </div>
</div>