<div class="about">
  <div class="about__title">
    <h3>About Us</h3>   
  </div>
  <div class="section">
    <section class="management-section">
        <div class="conatiner">
          <h2 class="section-heading management-section-heading">Management</h2>
          <h5 class="management-section-sub-heading">"A Boss says, GO! A leader says, Let's Go."</h5>
          <div class="team">
            <div class="flex-wrapper">
              <div class="card-wrapper">
          `     <div class="team-card" *ngFor="let item of teamDetails">
                  <img class="profile-img" src="{{item?.imageUrl}}" alt="Deepak Ramachandran">
                  <h3 class="member-name management_name">{{item?.name}}</h3>
                  <p class="member-designation management_desigation">{{item?.designation}}</p>
                </div>
              
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>       

  <div class="section">
        <section class="team-section">
          <div class="conatiner">
            <h2 class="section-heading">Team</h2>
            <h5 style="text-align: center">"The strength of the team is each individual member...the strength of each member is the team."</h5>
            <div class="team">
              <div class="flex-wrapper">
                <div class="card-wrapper">
                  <div class="team-card" *ngFor="let item of teamDetails">
                    <img class="profile-img" src="{{item?.imageUrl}}">
                    <h3 class="member-name">{{item?.name}}</h3>
                    <p class="member-designation">{{item?.designation}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  </div>

</div>
