.section-heading {
    font-size: 46px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 30px;
    color: #212b36;
    font-weight: 600;
  }
.management-section{
    padding-bottom: 40px;
   
    .management-section-sub-heading{
      text-align: center;
    }
}
.team-section{
    padding-bottom: 40px;
}
.flex-wrapper{
    .card-wrapper {
      flex-wrap: wrap;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .team-card {
        width: 300px;
        display: block;
        padding: 10px;
        text-align: center;
        margin-bottom: 40px;
        .profile-img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center right;
        }
        h3{
          margin-bottom: 4px;
        }
        .member-name {
          padding: 5px 0 0;
          font-size: 1em;
          color: #212b36;
          font-weight: 200;
        }
        .member-designation {
          margin: 10px 0;
          margin: auto;
          font-size: 0.75em;
          font-weight: 200;
          line-height: 1.25;
          text-align: center;
          color: #212b36;
        }
      }
    }
}
.about{
  max-width: 1440px;
  margin: 0 auto;

  &__title{
     margin:40px 5.3% 60px;
     h3{
      color:#ccc;
      font-size: 32px;
      font-weight: 800;
     }
  }

}

@media all and (max-width:767px){
  .section-heading{
    padding-top: 0px;
  }
}